# App
PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Database (AWS RDS)
DB_HOST=mimidatabase.id.us-east-2.rds.amazonaws.com
DB_PORT=5432
DB_USER=postgres
DB_PASS=PUnPr333123sss0rf
DB_NAME=mimidatabase

# TypeORM / Prisma connection string
DATABASE_URL=postgresql://postgres:PUnPr333123sss0rf@mimidatabase.id.us-east-2.rds.amazonaws.com:5432/postgres

# Payment Gateway Sandbox
GATEWAY_SANDBOX_URL=https://api-sandbox.co.uat.payment-gateway.dev/v1
GATEWAY_PUB_KEY=pub_stagtest_g2u0HQd3ZMh05hsSgTS2lUV8t3s4mOt7
GATEWAY_PRV_KEY=prv_stagtest_5i0ZGIGiFcDQifYsXxvsny7Y37tKqFWg
GATEWAY_EVENTS_KEY=stagtest_events_2PDUmhMywUkvb1LvxYnayFbmofT7w39N
GATEWAY_INTEGRITY_KEY=stagtest_integrity_nAIBuqayW70XpUqJS4qf4STYiISd89Fp

# Tarifas
BASE_FEE=3500
DELIVERY_FEE=8000